<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wellness360</title>
  
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="<%= (user && user.role === 'admin') ? 'default' : (mood || 'default') %>">
  <div class="app-container">